body {
  header {
    background-color: $bck-black;
    .header_container {
      @include flex(space-between, center);
      @include container(1440px);
      height: 100px;
      .header_content {
        @include flex(space-between, center);
        @include container(1100px);
        .logo {
          img {
            width: 140px;
          }
        }
        .navigation {
          nav {
            ul {
              display: flex;
              align-items: center;
              *:not(:last-child) {
                margin-right: 50px;
              }
              li {
                a {
                  font-size: 13px;
                  color: $main-white;
                  line-height: 25px;
                  letter-spacing: 2px;
                  transition: 250ms;
                  &:hover {
                    color: $main-orange;
                    transition: 250ms;
                  }
                }
              }
            }
          }
        }
        .cart {
          a {
            .cartIcon {
              width: 24px;
              height: 20px;
              path {
                transition: 250ms;
              }
            }
            &:hover {
              .cartIcon {
                path {
                  fill: $main-orange;
                  transition: 250ms;
                }
              }
            }
          }
        }
      }
    }
    .underline {
      max-width: 1110px;
      width: 100%;
      margin: 0 auto;
      background-color: #979797;
      height: 1px;
    }
  }
}
