body {
  header {
    background-color: #0e0e0e;
    .header_container {
      @extend %flex;
      max-width: 1440px;
      height: 100px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      .header_content {
        max-width: 1100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
          img {
            width: 140px;
          }
        }
        .navigation {
          nav {
            ul {
              display: flex;
              align-items: center;
              *:not(:last-child) {
                margin-right: 50px;
              }
              li {
                a {
                  font-size: 13px;
                  color: $main-white;
                  line-height: 25px;
                  letter-spacing: 2px;
                }
              }
            }
          }
        }
        .cart {
          a {
            .cartIcon {
              width: 32px;
              height: 32px;
            }
          }
        }
      }
    }
    .underline {
      max-width: 1110px;
      width: 100%;
      margin: 0 auto;
      background-color: #979797;
      height: 1px;
    }
  }
}
