body {
  header {
    background-color: $bck-black;
    .header_container {
      @include flex(space-between, center);
      @include container(1440px);
      @include responsive(l-tablet) {
        padding: 0px 40px;
      }
      @include responsive(phone) {
        padding: 0px 20px;
      }
      height: 100px;
      .header_content {
        @include flex(space-between, center);
        @include container(1100px);
        .left {
          @include flex(space-between, center);
          .logo {
            img {
              width: 140px;
            }
          }
          .menu_btn {
            @include responsive(tablet) {
              display: flex;
            }
            display: none;
            align-items: center;
            margin-right: 40px;
            position: relative;
            width: 20px;
            height: 20px;
            cursor: pointer;
            transform: all 0.5s ease-in-out;
            .burger {
              width: 16px;
              height: 3px;
              background-color: $main-white;
              border-radius: 5px;
              transition: all 0.5s ease-in-out;
              &::before,
              &::after {
                content: "";
                position: absolute;
                width: 16px;
                height: 3px;
                background-color: $main-white;
                border-radius: 5px;
                transition: all 0.5s ease-in-out;
              }
              &::before {
                transform: translateY(-6px);
              }
              &::after {
                transform: translateY(6px);
              }
            }
            &.open .burger {
              transform: rotate(90deg);
              background-color: transparent;
              transition: all 0.5s ease-in-out;
              &::before {
                transform: rotate(45deg);
              }
              &::after {
                transform: rotate(-45deg);
              }
            }
          }
        }
        .navigation {
          @include responsive(tablet) {
            display: none;
          }
          nav {
            ul {
              display: flex;
              align-items: center;
              *:not(:last-child) {
                margin-right: 50px;
              }
              li {
                .inuse {
                  color: $main-orange;
                }
                a {
                  font-size: 13px;
                  color: $main-white;
                  line-height: 25px;
                  letter-spacing: 2px;
                  transition: 250ms;
                  &:hover {
                    color: $main-orange;
                    transition: 250ms;
                  }
                }
              }
            }
          }
        }
        .cart {
          a {
            .cartIcon {
              width: 24px;
              height: 20px;
              path {
                transition: 250ms;
              }
            }
            &:hover {
              .cartIcon {
                path {
                  fill: $main-orange;
                  transition: 250ms;
                }
              }
            }
          }
          .cart_popup {
            position: absolute;
            background-color: $main-white;
            border-radius: 8px;
            right: 0;
            top: 120px;
            width: 370px;
            z-index: 3;
            padding: 33px;
            .title {
              @include flex(space-between, center);
              h3 {
                font-size: 18px;
                font-weight: 600;
                letter-spacing: 1px;
              }
              button {
                background-color: transparent;
                border: none;
                font-size: 15px;
                font-family: "Noto Sans Georgian", sans-serif;
                transition: 250ms;
                &:hover {
                  color: $main-orange;
                  text-decoration: underline;
                  transition: 250ms;
                }
              }
            }
            .cart_content {
              .cart_item {
                @include flex(space-between, center);
                .product {
                  @include flex(auto, center);
                  .product_img {
                    background-color: $main-gray;
                    padding: 10px;
                    border-radius: 8px;
                    img {
                      width: 42px;
                      height: 42px;
                      object-fit: contain;
                    }
                  }
                  .product_details {
                    @include flex(auto, auto);
                    flex-direction: column;
                    margin-left: 16px;
                    span {
                      font-size: 15px;
                      font-weight: 600;
                      line-height: 25px;
                    }
                    p {
                      font-size: 14px;
                      opacity: 0.5;
                      line-height: 25px;
                    }
                  }
                }
                .product_nav {
                  @include flex(auto, center);

                  span {
                    font-size: 13px;
                    font-weight: 600;
                  }
                  button {
                    margin-left: 10px;
                    font-size: 10px;
                    letter-spacing: 1px;
                    font-weight: 600;
                    padding: 8px 4px;
                    background-color: $main-gray;
                    border: none;
                    transition: 250ms;
                    &:hover {
                      color: $main-orange;
                      transition: 250ms;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .underline {
      max-width: 1110px;
      width: 100%;
      margin: 0 auto;
      background-color: #979797;
      height: 1px;
    }
  }
}
