body {
  main {
    section {
      @include responsive(l-tablet) {
        padding: 0px 40px;
      }
      @include responsive(phone) {
        padding: 0px 20px;
      }
    }
    .hero_container {
      background-color: $bck-black;
      @include responsive(tablet) {
        padding: 0px;
      }
      .hero_content {
        @include flex(space-between, center);
        @include container(1100px);
        padding: 20px 0px;

        @include responsive(tablet) {
          position: relative;
          overflow-x: hidden;
          @include flex(center, center);
        }
        .hero_text {
          flex: 0.4;
          width: 100%;
          display: flex;
          flex-direction: column;
          margin-right: 40px;
          @include responsive(tablet) {
            position: absolute;
            justify-content: center;
            text-align: center;
            align-items: center;
            flex: 1;
            margin-right: 0px;
            z-index: 2;
            padding: 0px 20px;
          }
          .new_product {
            span {
              color: $main-white;
              font-size: 14px;
              letter-spacing: 10px;
              opacity: 0.5;
            }
          }
          .product_name {
            margin: 24px 0px;
            h2 {
              font-size: 56px;
              color: $main-white;
              letter-spacing: 2px;
              font-weight: bold;
              max-width: 390px;
              @include responsive(l-tablet) {
                font-size: 40px;
              }
              @include responsive(m-tablet) {
                font-size: 36px;
              }
              @include responsive(tablet) {
                font-size: 56px;
              }
              @include responsive(phone) {
                font-size: 36px;
              }
            }
          }
          .product_desc {
            p {
              color: $main-white;
              font-size: 15px;
              line-height: 25px;
              max-width: 350px;
              opacity: 0.75;
            }
          }
          .view_product {
            margin-top: 40px;
            button {
              font-size: 13px;
              color: $main-white;
              border: none;
              padding: 15px 34px;
              background-color: $main-orange;
              transition: 250ms;
              &:hover {
                background-color: $second-orange;
                transition: 250ms;
              }
            }
          }
        }
        .hero_img {
          flex: 0.5;
          padding: 40px;

          @include responsive(tablet) {
            opacity: 0.5;
            flex: 1;
            padding: 0px;
            min-width: 370px;
          }

          img {
            width: 100%;
          }
        }
      }
    }
    .categories_container {
      max-width: 1440px;
      margin: 0px auto;
      padding-top: 150px;
      padding-bottom: 100px;
      @include responsive(s-tablet) {
        margin: 0 auto;
        padding-top: 100px;
        padding-bottom: 50px;
      }
      &:target {
        scroll-margin-top: 50vh;
      }
      .categories_content {
        @include flex(space-between, center);
        @include container(1100px);
        flex-wrap: wrap;
        .categories_box {
          width: 30%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-end;
          background-color: $main-gray;
          position: relative;
          height: 205px;
          padding: 30px;
          border-radius: 8px;
          @include responsive(tablet) {
            height: 165px;
          }
          @include responsive(s-tablet) {
            width: 100%;
            &:not(:last-child) {
              margin-bottom: 80px;
            }
          }
          .cat_img {
            position: absolute;
            bottom: 60%;
            @include responsive(tablet) {
              bottom: 70%;
            }
            img {
              width: 125px;
              @include responsive(tablet) {
                width: 85px;
              }
            }
          }
          .cat_title {
            p {
              font-size: 18px;
              font-weight: 600;
              letter-spacing: 1px;
              @include responsive(tablet) {
                font-size: 15px;
              }
            }
          }
          .cat_link {
            @include flex(space-between, center);
            margin-top: 15px;
            font-weight: 600;
            cursor: pointer;
            a {
              color: $main-black;
              margin-right: 10px;
              transition: 250ms;
              opacity: 0.5;
              font-size: 13px;
            }
            &:hover {
              a {
                color: $main-orange;
                opacity: 1;
                transition: 250ms;
              }
            }
          }
        }
      }
    }
    .ad_container {
      max-width: 1440px;
      margin: 0 auto;
      .ad_content {
        @include flex(space-between, center);
        @include container(1100px);
        @include responsive(tablet) {
          flex-direction: column;
        }
        .ad_text {
          flex: 0.4;
          @include responsive(tablet) {
            flex: 1;
            text-align: center;
            margin-top: 50px;
          }
          .title {
            h2 {
              font-size: 40px;
              font-weight: 600;
              text-transform: uppercase;
              letter-spacing: 1px;
              line-height: 44px;
              color: $main-black;
              span {
                color: $main-orange;
              }
              @include responsive(phone) {
                font-size: 28px;
                line-height: 30px;
              }
            }
          }
          .desc {
            margin-top: 30px;
            p {
              color: $main-black;
              font-size: 15px;
              line-height: 25px;
              opacity: 0.5;
            }
          }
        }
        .ad_img {
          flex: 0.5;
          @include responsive(tablet) {
            order: -1;
            flex: 1;
          }
          img {
            width: 100%;
            display: flex;
          }
        }
      }
    }
    .feedback_container {
      max-width: 1440px;
      margin: 0 auto;
      &:target {
        scroll-margin-top: 50vh;
      }
      .feedback_content {
        @include container(1100px);
        margin-top: 120px;
        @include responsive(tablet-2) {
          margin-top: 80px;
        }
        .title {
          @include flex(space-between, center);
          @include responsive(tablet-2) {
            @include flex(center, center);
            flex-direction: column;
          }
          width: 100%;
          h2 {
            font-weight: bold;
            color: $main-black;
            font-size: 48px;
            @include responsive(tablet) {
              font-size: 40px;
              text-align: center;
            }
            @include responsive(s-tablet) {
              font-size: 30px;
            }
            @include responsive(phone) {
              font-size: 26px;
            }
          }
          .swiper_nav {
            @include flex(center, center);
            @include responsive(tablet-2) {
              @include flex(space-between, center);
              text-align: center;
              margin-top: 35px;
              width: 100%;
            }
            .button-prev {
              margin-right: 16px;
              .prev-btn {
                width: 16px;
                cursor: pointer;
              }
            }
            .button-next {
              .next-btn {
                width: 16px;
                cursor: pointer;
              }
            }
          }
        }

        .feedback_swiper {
          width: 100%;
          .feedback_wrapper {
            width: 100%;
            align-items: stretch !important;
            margin: 0 auto;
            margin-top: 70px;
            height: 250px;
            @include responsive(tablet-2) {
              margin-top: 20px;
            }
            @include responsive(phone) {
              height: 200px;
            }
            .feedback_box {
              @include flex(auto, flex-start);
              flex-direction: column;
              border: 1px solid $black-border;
              border-radius: 20px;
              padding: 28px 32px;
              height: 100%;
              .rate {
                img {
                  width: 22px;
                  height: 22px;
                  @include responsive(tablet-2) {
                    width: 20px;
                    height: 20px;
                  }
                }
              }
              .user {
                @include flex(center, center);
                padding: 18px 0px;
                span {
                  font-size: 20px;
                  color: $main-black;
                  font-weight: bold;
                  @include responsive(tablet-2) {
                    font-size: 18px;
                  }
                }
                img {
                  width: 22px;
                  height: 22px;
                  margin-left: 5px;
                  @include responsive(tablet-2) {
                    width: 20px;
                    height: 20px;
                  }
                }
              }
              .feedback_text {
                p {
                  font-size: 16px;
                  color: $main-black;
                  opacity: 0.6;
                  @include responsive(tablet-2) {
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
      }
    }
    .countdown_container {
      max-width: 1440px;
      margin: 0 auto;
      &:target {
        scroll-margin-top: 50vh;
      }
      .countdown_content {
        @include container(1100px);
        margin-top: 120px;
        @include responsive(tablet-2) {
          margin-top: 80px;
        }
        .title {
          h2 {
            font-size: 48px;
            font-weight: bold;
            @include responsive(tablet-2) {
              font-size: 40px;
            }
            @include responsive(phone) {
              font-size: 35px;
            }
          }
        }
        .countdown_row {
          @include flex(space-between, center);
          flex-wrap: wrap;
          margin-top: 30px;
          .countdown_box {
            @include flex(center, center);
            @include responsive(tablet) {
              height: 160px;
            }
            @include responsive(tablet-2) {
              width: 48%;
              margin-top: 10px;
            }
            @include responsive(phone) {
              width: 100%;
              margin-top: 0 px;
            }
            flex-direction: column;
            background-color: $second-black;
            width: 23%;
            border-radius: 22px;
            height: 200px;
            margin-top: 20px;
            span {
              font-size: 64px;
              color: $main-white;
              font-weight: bold;
              @include responsive(tablet) {
                font-size: 55px;
              }
              @include responsive(phone) {
              }
            }
            p {
              font-size: 16px;
              color: $main-white;
              padding-top: 5px;
              @include responsive(tablet) {
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
}
