body {
  main {
    .hero_container {
      background-color: #0e0e0e;
      .hero_content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
        .hero_text {
          width: 45%;
          display: flex;
          flex-direction: column;
          margin-right: 40px;
          .new_product {
            h3 {
              color: $main-white;
              font-size: 14px;
              letter-spacing: 10px;
            }
          }
          .product_name {
            margin: 24px 0px;
            h1 {
              font-size: 56px;
              color: $main-white;
              letter-spacing: 2px;
              font-weight: bold;
            }
          }
          .product_desc {
            p {
              color: $main-white;
              font-size: 15px;
              line-height: 25px;
              max-width: 350px;
            }
          }
          .view_product {
            margin-top: 40px;
            button {
              font-size: 13px;
              color: $main-white;
              border: none;
              padding: 15px 34px;
              background-color: $main-orange;
            }
          }
        }
        .hero_img {
          width: 60%;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
