body {
  main {
    section {
      @include responsive(l-tablet) {
        padding: 0px 40px;
      }
      @include responsive(phone) {
        padding: 0px 20px;
      }
    }
    .hero_container {
      background-color: $bck-black;
      .hero_content {
        @include flex(space-between, center);
        @include container(1100px);
        padding: 20px 0px;

        @include responsive(tablet) {
          position: relative;
          @include flex(center, center);
        }
        .hero_text {
          flex: 0.4;
          width: 100%;
          display: flex;
          flex-direction: column;
          margin-right: 40px;
          @include responsive(tablet) {
            position: absolute;
            justify-content: center;
            text-align: center;
            align-items: center;
            flex: 1;
            margin-right: 0px;
            z-index: 2;
          }
          .new_product {
            span {
              color: $main-white;
              font-size: 14px;
              letter-spacing: 10px;
              opacity: 0.5;
            }
          }
          .product_name {
            margin: 24px 0px;
            h2 {
              font-size: 56px;
              color: $main-white;
              letter-spacing: 2px;
              font-weight: bold;
              max-width: 390px;
              @include responsive(l-tablet) {
                font-size: 40px;
              }
              @include responsive(m-tablet) {
                font-size: 36px;
              }
              @include responsive(tablet) {
                font-size: 56px;
              }
              @include responsive(phone) {
                font-size: 36px;
              }
            }
          }
          .product_desc {
            p {
              color: $main-white;
              font-size: 15px;
              line-height: 25px;
              max-width: 350px;
              opacity: 0.75;
            }
          }
          .view_product {
            margin-top: 40px;
            button {
              font-size: 13px;
              color: $main-white;
              border: none;
              padding: 15px 34px;
              background-color: $main-orange;
              transition: 250ms;
              &:hover {
                background-color: $second-orange;
                transition: 250ms;
              }
            }
          }
        }
        .hero_img {
          flex: 0.5;
          padding: 40px;
          @include responsive(tablet) {
            opacity: 0.5;
            flex: 1;
            padding: 0px;
          }
          img {
            width: 100%;
          }
        }
      }
    }
    .categories_container {
      max-width: 1440px;
      margin: 150px auto 100px;
      @include responsive(s-tablet) {
        margin: 100px auto 50px !important;
      }
      .categories_content {
        @include flex(space-between, center);
        @include container(1100px);
        flex-wrap: wrap;
        .categories_box {
          width: 30%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-end;
          background-color: $main-gray;
          position: relative;
          height: 205px;
          padding: 30px;
          border-radius: 8px;
          @include responsive(tablet) {
            height: 165px;
          }
          @include responsive(s-tablet) {
            width: 100%;
            &:not(:last-child) {
              margin-bottom: 80px;
            }
          }
          .cat_img {
            position: absolute;
            bottom: 60%;
            @include responsive(tablet) {
              bottom: 70%;
            }
            img {
              width: 125px;
              @include responsive(tablet) {
                width: 85px;
              }
            }
          }
          .cat_title {
            p {
              font-size: 18px;
              font-weight: 600;
              letter-spacing: 1px;
              @include responsive(tablet) {
                font-size: 15px;
              }
            }
          }
          .cat_link {
            @include flex(space-between, center);
            margin-top: 15px;
            font-weight: 600;
            cursor: pointer;
            a {
              color: $main-black;
              margin-right: 10px;
              transition: 250ms;
              opacity: 0.5;
              font-size: 13px;
            }
            &:hover {
              a {
                color: $main-orange;
                opacity: 1;
                transition: 250ms;
              }
            }
          }
        }
      }
    }
    .ad_container {
      max-width: 1440px;
      margin: 0 auto;
      .ad_content {
        @include flex(space-between, center);
        @include container(1100px);
        @include responsive(tablet) {
          flex-direction: column;
        }
        .ad_text {
          flex: 0.4;
          @include responsive(tablet) {
            flex: 1;
            text-align: center;
            margin-top: 50px;
          }
          .title {
            h2 {
              font-size: 40px;
              font-weight: 600;
              text-transform: uppercase;
              letter-spacing: 1px;
              line-height: 44px;
              color: $main-black;
              span {
                color: $main-orange;
              }
              @include responsive(phone) {
                font-size: 28px;
                line-height: 30px;
              }
            }
          }
          .desc {
            margin-top: 30px;
            p {
              color: $main-black;
              font-size: 15px;
              line-height: 25px;
              opacity: 0.5;
            }
          }
        }
        .ad_img {
          flex: 0.5;
          @include responsive(tablet) {
            order: -1;
            flex: 1;
          }
          img {
            width: 100%;
            display: flex;
          }
        }
      }
    }
  }
}
