$main-orange: #d87d4a;
$main-black: #000000;
$main-gray: #f1f1f1;
$light-gray: #fafafa;
$second-orange: #fbaf85;
$second-black: #101010;
$main-white: #ffffff;
$bck-black: #0e0e0e;
$black-border: #0000001e;
$gray-bg: #cfcfcf;
$light-graybg: #f1f1f1;
