/* Global reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

button {
  cursor: pointer;
}

/* Global reset end */
@font-face {
  font-family: "Noto Sans Georgian";
  src: url("../../assets/fonts/NotoSans-VariableFont_wdth,wght.ttf");
}
body {
  font-family: "Noto Sans Georgian", sans-serif;
}

body header {
  background-color: #0e0e0e;
}
body header .header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  height: 100px;
}
body header .header_container .header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
body header .header_container .header_content .logo img {
  width: 140px;
}
body header .header_container .header_content .navigation nav ul {
  display: flex;
  align-items: center;
}
body header .header_container .header_content .navigation nav ul *:not(:last-child) {
  margin-right: 50px;
}
body header .header_container .header_content .navigation nav ul li a {
  font-size: 13px;
  color: #ffffff;
  line-height: 25px;
  letter-spacing: 2px;
  transition: 250ms;
}
body header .header_container .header_content .navigation nav ul li a:hover {
  color: #d87d4a;
  transition: 250ms;
}
body header .header_container .header_content .cart a .cartIcon {
  width: 24px;
  height: 20px;
}
body header .header_container .header_content .cart a .cartIcon path {
  transition: 250ms;
}
body header .header_container .header_content .cart a:hover .cartIcon path {
  fill: #d87d4a;
  transition: 250ms;
}
body header .underline {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  background-color: #979797;
  height: 1px;
}

body main .hero_container {
  background-color: #0e0e0e;
}
body main .hero_container .hero_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
body main .hero_container .hero_content .hero_text {
  flex: 0.4;
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}
body main .hero_container .hero_content .hero_text .new_product span {
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 10px;
}
body main .hero_container .hero_content .hero_text .product_name {
  margin: 24px 0px;
}
body main .hero_container .hero_content .hero_text .product_name h2 {
  font-size: 56px;
  color: #ffffff;
  letter-spacing: 2px;
  font-weight: bold;
}
body main .hero_container .hero_content .hero_text .product_desc p {
  color: #ffffff;
  font-size: 15px;
  line-height: 25px;
  max-width: 350px;
}
body main .hero_container .hero_content .hero_text .view_product {
  margin-top: 40px;
}
body main .hero_container .hero_content .hero_text .view_product button {
  font-size: 13px;
  color: #ffffff;
  border: none;
  padding: 15px 34px;
  background-color: #d87d4a;
  transition: 250ms;
}
body main .hero_container .hero_content .hero_text .view_product button:hover {
  background-color: #fbaf85;
  transition: 250ms;
}
body main .hero_container .hero_content .hero_img {
  flex: 0.6;
}
body main .hero_container .hero_content .hero_img img {
  width: 100%;
}
body main .categories_container {
  max-width: 1440px;
  margin: 150px auto 100px auto;
}
body main .categories_container .categories_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
body main .categories_container .categories_content .categories_box {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: #f1f1f1;
  position: relative;
  height: 205px;
  padding: 30px;
  border-radius: 8px;
}
body main .categories_container .categories_content .categories_box .cat_img {
  position: absolute;
  bottom: 60%;
}
body main .categories_container .categories_content .categories_box .cat_img img {
  width: 125px;
}
body main .categories_container .categories_content .categories_box .cat_title p {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}
body main .categories_container .categories_content .categories_box .cat_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  font-weight: 600;
  cursor: pointer;
}
body main .categories_container .categories_content .categories_box .cat_link a {
  color: #000000;
  margin-right: 10px;
  transition: 250ms;
  opacity: 0.5;
}
body main .categories_container .categories_content .categories_box .cat_link:hover a {
  color: #d87d4a;
  opacity: 1;
  transition: 250ms;
}
body main .ad_container {
  max-width: 1440px;
  margin: 0 auto;
}
body main .ad_container .ad_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
body main .ad_container .ad_content .ad_text {
  flex: 0.4;
}
body main .ad_container .ad_content .ad_text .title h2 {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 44px;
  color: #000000;
}
body main .ad_container .ad_content .ad_text .title h2 span {
  color: #d87d4a;
}
body main .ad_container .ad_content .ad_text .desc {
  margin-top: 30px;
}
body main .ad_container .ad_content .ad_text .desc p {
  color: #000000;
  font-size: 15px;
  line-height: 25px;
}
body main .ad_container .ad_content .ad_img {
  flex: 0.5;
}
body main .ad_container .ad_content .ad_img img {
  width: 100%;
  display: flex;
}

body footer {
  background-color: #101010;
  margin-top: 50px;
}
body footer .footer_content {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  padding: 70px 0px 40px;
  position: relative;
}
body footer .footer_content .overline {
  position: absolute;
  width: 100px;
  height: 4px;
  background-color: #d87d4a;
  top: 0;
}
body footer .footer_content .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body footer .footer_content .navigation .logo img {
  width: 140px;
}
body footer .footer_content .navigation nav ul {
  display: flex;
  align-items: center;
}
body footer .footer_content .navigation nav ul *:not(:last-child) {
  margin-right: 50px;
}
body footer .footer_content .navigation nav ul li a {
  font-size: 13px;
  color: #ffffff;
  line-height: 25px;
  letter-spacing: 2px;
  transition: 250ms;
}
body footer .footer_content .navigation nav ul li a:hover {
  color: #d87d4a;
  transition: 250ms;
}
body footer .footer_content .website_description {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 35px;
}
body footer .footer_content .website_description .desc p {
  font-size: 15px;
  color: #ffffff;
  opacity: 0.5;
  line-height: 25px;
  max-width: 540px;
}
body footer .footer_content .website_description .social_media {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body footer .footer_content .website_description .social_media .box svg {
  width: 24px;
  height: 24px;
}
body footer .footer_content .website_description .social_media .box svg path {
  transition: 250ms;
}
body footer .footer_content .website_description .social_media .box:hover svg path {
  fill: #d87d4a;
  transition: 250ms;
}
body footer .footer_content .website_description .social_media .box:not(:last-child) {
  margin-right: 15px;
}
body footer .footer_content .copy_right {
  margin-top: 50px;
}
body footer .footer_content .copy_right p {
  font-size: 15px;
  color: #ffffff;
  opacity: 0.5;
}/*# sourceMappingURL=global.css.map */