/* Global reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

/* Global reset end */
@font-face {
  font-family: "Noto Sans Georgian";
  src: url("../../assets/fonts/NotoSans-VariableFont_wdth,wght.ttf");
}
body {
  font-family: "Noto Sans Georgian", sans-serif;
}

body header {
  background-color: #0e0e0e;
}
body header .header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  height: 100px;
}
@media only screen and (max-width: 1100px) {
  body header .header_container {
    padding: 0px 40px;
  }
}
@media only screen and (max-width: 500px) {
  body header .header_container {
    padding: 0px 20px;
  }
}
body header .header_container .header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
body header .header_container .header_content .left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header .header_container .header_content .left .logo img {
  width: 140px;
}
body header .header_container .header_content .left .menu_btn {
  display: none;
  align-items: center;
  margin-right: 40px;
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transform: all 0.5s ease-in-out;
}
@media only screen and (max-width: 850px) {
  body header .header_container .header_content .left .menu_btn {
    display: flex;
  }
}
body header .header_container .header_content .left .menu_btn .burger {
  width: 16px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
body header .header_container .header_content .left .menu_btn .burger::before, body header .header_container .header_content .left .menu_btn .burger::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
body header .header_container .header_content .left .menu_btn .burger::before {
  transform: translateY(-6px);
}
body header .header_container .header_content .left .menu_btn .burger::after {
  transform: translateY(6px);
}
body header .header_container .header_content .left .menu_btn.open .burger {
  transform: rotate(90deg);
  background-color: transparent;
  transition: all 0.5s ease-in-out;
}
body header .header_container .header_content .left .menu_btn.open .burger::before {
  transform: rotate(45deg);
}
body header .header_container .header_content .left .menu_btn.open .burger::after {
  transform: rotate(-45deg);
}
@media only screen and (max-width: 850px) {
  body header .header_container .header_content .navigation {
    display: none;
  }
}
body header .header_container .header_content .navigation nav ul {
  display: flex;
  align-items: center;
}
body header .header_container .header_content .navigation nav ul *:not(:last-child) {
  margin-right: 50px;
}
body header .header_container .header_content .navigation nav ul li .inuse {
  color: #d87d4a;
}
body header .header_container .header_content .navigation nav ul li a {
  font-size: 13px;
  color: #ffffff;
  line-height: 25px;
  letter-spacing: 2px;
  transition: 250ms;
}
body header .header_container .header_content .navigation nav ul li a:hover {
  color: #d87d4a;
  transition: 250ms;
}
body header .header_container .header_content .cart a .cartIcon {
  width: 24px;
  height: 20px;
}
body header .header_container .header_content .cart a .cartIcon path {
  transition: 250ms;
}
body header .header_container .header_content .cart a:hover .cartIcon path {
  fill: #d87d4a;
  transition: 250ms;
}
body header .header_container .header_content .cart .cart_popup {
  display: none;
  position: absolute;
  background-color: #ffffff;
  border-radius: 8px;
  right: 0;
  top: 80px;
  width: 370px;
  z-index: 4;
  padding: 33px;
}
@media only screen and (max-width: 500px) {
  body header .header_container .header_content .cart .cart_popup {
    padding: 15px;
    width: 100%;
  }
}
body header .header_container .header_content .cart .cart_popup .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header .header_container .header_content .cart .cart_popup .title h3 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}
body header .header_container .header_content .cart .cart_popup .title button {
  background-color: transparent;
  border: none;
  font-size: 15px;
  font-family: "Noto Sans Georgian", sans-serif;
  transition: 250ms;
}
body header .header_container .header_content .cart .cart_popup .title button:hover {
  color: #d87d4a;
  text-decoration: underline;
  transition: 250ms;
}
body header .header_container .header_content .cart .cart_popup .cart_content {
  margin-top: 30px;
}
body header .header_container .header_content .cart .cart_popup .cart_content .cart_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header .header_container .header_content .cart .cart_popup .cart_content .cart_item:not(:last-child) {
  margin-bottom: 22px;
}
body header .header_container .header_content .cart .cart_popup .cart_content .cart_item .product {
  display: flex;
  justify-content: auto;
  align-items: center;
}
body header .header_container .header_content .cart .cart_popup .cart_content .cart_item .product .product_img {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 8px;
}
body header .header_container .header_content .cart .cart_popup .cart_content .cart_item .product .product_img img {
  width: 42px;
  height: 42px;
  -o-object-fit: contain;
     object-fit: contain;
}
body header .header_container .header_content .cart .cart_popup .cart_content .cart_item .product .product_details {
  display: flex;
  justify-content: auto;
  align-items: auto;
  flex-direction: column;
  margin-left: 16px;
}
body header .header_container .header_content .cart .cart_popup .cart_content .cart_item .product .product_details span {
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
}
body header .header_container .header_content .cart .cart_popup .cart_content .cart_item .product .product_details p {
  font-size: 14px;
  opacity: 0.5;
  line-height: 25px;
}
body header .header_container .header_content .cart .cart_popup .cart_content .cart_item .product_nav {
  display: flex;
  justify-content: auto;
  align-items: center;
}
body header .header_container .header_content .cart .cart_popup .cart_content .cart_item .product_nav span {
  font-size: 13px;
  font-weight: 600;
}
body header .header_container .header_content .cart .cart_popup .cart_content .cart_item .product_nav button {
  margin-left: 10px;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 600;
  padding: 8px 4px;
  background-color: #f1f1f1;
  border: none;
  transition: 250ms;
}
body header .header_container .header_content .cart .cart_popup .cart_content .cart_item .product_nav button:hover {
  color: #d87d4a;
  transition: 250ms;
}
body header .header_container .header_content .cart .cart_popup .cart_nav .total {
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header .header_container .header_content .cart .cart_popup .cart_nav .total p {
  font-size: 15px;
  opacity: 0.5;
  line-height: 25px;
}
body header .header_container .header_content .cart .cart_popup .cart_nav .total span {
  font-size: 18px;
  font-weight: 600;
}
body header .header_container .header_content .cart .cart_popup .cart_nav #checkout {
  width: 100%;
  text-align: center;
  background-color: #d87d4a;
  color: #ffffff;
  font-size: 13px;
  font-family: "Noto Sans Georgian", sans-serif;
  padding: 15px 0px;
  border: none;
  transition: 250ms;
}
body header .header_container .header_content .cart .cart_popup .cart_nav #checkout:hover {
  background-color: #fbaf85;
  transition: 250ms;
}
body header .header_container .header_content .cart .overlay {
  display: none;
  background-color: #0e0e0e;
  opacity: 0.5;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body header .underline {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  background-color: #979797;
  height: 1px;
}

@media only screen and (max-width: 1100px) {
  body main section {
    padding: 0px 40px;
  }
}
@media only screen and (max-width: 500px) {
  body main section {
    padding: 0px 20px;
  }
}
body main .hero_container {
  background-color: #0e0e0e;
}
@media only screen and (max-width: 850px) {
  body main .hero_container {
    padding: 0px;
  }
}
body main .hero_container .hero_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0px;
}
@media only screen and (max-width: 850px) {
  body main .hero_container .hero_content {
    position: relative;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
body main .hero_container .hero_content .hero_text {
  flex: 0.4;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}
@media only screen and (max-width: 850px) {
  body main .hero_container .hero_content .hero_text {
    position: absolute;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex: 1;
    margin-right: 0px;
    z-index: 2;
    padding: 0px 20px;
  }
}
body main .hero_container .hero_content .hero_text .new_product span {
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 10px;
  opacity: 0.5;
}
body main .hero_container .hero_content .hero_text .product_name {
  margin: 24px 0px;
}
body main .hero_container .hero_content .hero_text .product_name h2 {
  font-size: 56px;
  color: #ffffff;
  letter-spacing: 2px;
  font-weight: bold;
  max-width: 390px;
}
@media only screen and (max-width: 1100px) {
  body main .hero_container .hero_content .hero_text .product_name h2 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 900px) {
  body main .hero_container .hero_content .hero_text .product_name h2 {
    font-size: 36px;
  }
}
@media only screen and (max-width: 850px) {
  body main .hero_container .hero_content .hero_text .product_name h2 {
    font-size: 56px;
  }
}
@media only screen and (max-width: 500px) {
  body main .hero_container .hero_content .hero_text .product_name h2 {
    font-size: 36px;
  }
}
body main .hero_container .hero_content .hero_text .product_desc p {
  color: #ffffff;
  font-size: 15px;
  line-height: 25px;
  max-width: 350px;
  opacity: 0.75;
}
body main .hero_container .hero_content .hero_text .view_product {
  margin-top: 40px;
}
body main .hero_container .hero_content .hero_text .view_product button {
  font-size: 13px;
  color: #ffffff;
  border: none;
  padding: 15px 34px;
  background-color: #d87d4a;
  transition: 250ms;
}
body main .hero_container .hero_content .hero_text .view_product button:hover {
  background-color: #fbaf85;
  transition: 250ms;
}
body main .hero_container .hero_content .hero_img {
  flex: 0.5;
  padding: 40px;
}
@media only screen and (max-width: 850px) {
  body main .hero_container .hero_content .hero_img {
    opacity: 0.5;
    flex: 1;
    padding: 0px;
    min-width: 370px;
  }
}
body main .hero_container .hero_content .hero_img img {
  width: 100%;
}
body main .categories_container {
  max-width: 1440px;
  margin: 0px auto;
  padding-top: 150px;
  padding-bottom: 100px;
}
@media only screen and (max-width: 600px) {
  body main .categories_container {
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 50px;
  }
}
body main .categories_container:target {
  scroll-margin-top: 50vh;
}
body main .categories_container .categories_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}
body main .categories_container .categories_content .categories_box {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: #f1f1f1;
  position: relative;
  height: 205px;
  padding: 30px;
  border-radius: 8px;
}
@media only screen and (max-width: 850px) {
  body main .categories_container .categories_content .categories_box {
    height: 165px;
  }
}
@media only screen and (max-width: 600px) {
  body main .categories_container .categories_content .categories_box {
    width: 100%;
  }
  body main .categories_container .categories_content .categories_box:not(:last-child) {
    margin-bottom: 80px;
  }
}
body main .categories_container .categories_content .categories_box .cat_img {
  position: absolute;
  bottom: 60%;
}
@media only screen and (max-width: 850px) {
  body main .categories_container .categories_content .categories_box .cat_img {
    bottom: 70%;
  }
}
body main .categories_container .categories_content .categories_box .cat_img img {
  width: 125px;
}
@media only screen and (max-width: 850px) {
  body main .categories_container .categories_content .categories_box .cat_img img {
    width: 85px;
  }
}
body main .categories_container .categories_content .categories_box .cat_title p {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}
@media only screen and (max-width: 850px) {
  body main .categories_container .categories_content .categories_box .cat_title p {
    font-size: 15px;
  }
}
body main .categories_container .categories_content .categories_box .cat_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  font-weight: 600;
  cursor: pointer;
}
body main .categories_container .categories_content .categories_box .cat_link a {
  color: #000000;
  margin-right: 10px;
  transition: 250ms;
  opacity: 0.5;
  font-size: 13px;
}
body main .categories_container .categories_content .categories_box .cat_link:hover a {
  color: #d87d4a;
  opacity: 1;
  transition: 250ms;
}
body main .ad_container {
  max-width: 1440px;
  margin: 0 auto;
}
body main .ad_container .ad_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
@media only screen and (max-width: 850px) {
  body main .ad_container .ad_content {
    flex-direction: column;
  }
}
body main .ad_container .ad_content .ad_text {
  flex: 0.4;
}
@media only screen and (max-width: 850px) {
  body main .ad_container .ad_content .ad_text {
    flex: 1;
    text-align: center;
    margin-top: 50px;
  }
}
body main .ad_container .ad_content .ad_text .title h2 {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 44px;
  color: #000000;
}
body main .ad_container .ad_content .ad_text .title h2 span {
  color: #d87d4a;
}
@media only screen and (max-width: 500px) {
  body main .ad_container .ad_content .ad_text .title h2 {
    font-size: 28px;
    line-height: 30px;
  }
}
body main .ad_container .ad_content .ad_text .desc {
  margin-top: 30px;
}
body main .ad_container .ad_content .ad_text .desc p {
  color: #000000;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.5;
}
body main .ad_container .ad_content .ad_img {
  flex: 0.5;
}
@media only screen and (max-width: 850px) {
  body main .ad_container .ad_content .ad_img {
    order: -1;
    flex: 1;
  }
}
body main .ad_container .ad_content .ad_img img {
  width: 100%;
  display: flex;
}
body main .feedback_container {
  max-width: 1440px;
  margin: 0 auto;
}
body main .feedback_container:target {
  scroll-margin-top: 50vh;
}
body main .feedback_container .feedback_content {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  margin-top: 120px;
}
@media only screen and (max-width: 700px) {
  body main .feedback_container .feedback_content {
    margin-top: 80px;
  }
}
body main .feedback_container .feedback_content .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media only screen and (max-width: 700px) {
  body main .feedback_container .feedback_content .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
body main .feedback_container .feedback_content .title h2 {
  font-weight: bold;
  color: #000000;
  font-size: 48px;
}
@media only screen and (max-width: 850px) {
  body main .feedback_container .feedback_content .title h2 {
    font-size: 40px;
    text-align: center;
  }
}
@media only screen and (max-width: 600px) {
  body main .feedback_container .feedback_content .title h2 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 500px) {
  body main .feedback_container .feedback_content .title h2 {
    font-size: 26px;
  }
}
body main .feedback_container .feedback_content .title .swiper_nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 700px) {
  body main .feedback_container .feedback_content .title .swiper_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 35px;
    width: 100%;
  }
}
body main .feedback_container .feedback_content .title .swiper_nav .button-prev {
  margin-right: 16px;
}
body main .feedback_container .feedback_content .title .swiper_nav .button-prev .prev-btn {
  width: 16px;
  cursor: pointer;
}
body main .feedback_container .feedback_content .title .swiper_nav .button-next .next-btn {
  width: 16px;
  cursor: pointer;
}
body main .feedback_container .feedback_content .feedback_swiper {
  width: 100%;
}
body main .feedback_container .feedback_content .feedback_swiper .feedback_wrapper {
  width: 100%;
  align-items: stretch !important;
  margin: 0 auto;
  margin-top: 70px;
  height: 250px;
}
@media only screen and (max-width: 700px) {
  body main .feedback_container .feedback_content .feedback_swiper .feedback_wrapper {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 500px) {
  body main .feedback_container .feedback_content .feedback_swiper .feedback_wrapper {
    height: 200px;
  }
}
body main .feedback_container .feedback_content .feedback_swiper .feedback_wrapper .feedback_box {
  display: flex;
  justify-content: auto;
  align-items: flex-start;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.1176470588);
  border-radius: 20px;
  padding: 28px 32px;
  height: 100%;
}
body main .feedback_container .feedback_content .feedback_swiper .feedback_wrapper .feedback_box .rate img {
  width: 22px;
  height: 22px;
}
@media only screen and (max-width: 700px) {
  body main .feedback_container .feedback_content .feedback_swiper .feedback_wrapper .feedback_box .rate img {
    width: 20px;
    height: 20px;
  }
}
body main .feedback_container .feedback_content .feedback_swiper .feedback_wrapper .feedback_box .user {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 0px;
}
body main .feedback_container .feedback_content .feedback_swiper .feedback_wrapper .feedback_box .user span {
  font-size: 20px;
  color: #000000;
  font-weight: bold;
}
@media only screen and (max-width: 700px) {
  body main .feedback_container .feedback_content .feedback_swiper .feedback_wrapper .feedback_box .user span {
    font-size: 18px;
  }
}
body main .feedback_container .feedback_content .feedback_swiper .feedback_wrapper .feedback_box .user img {
  width: 22px;
  height: 22px;
  margin-left: 5px;
}
@media only screen and (max-width: 700px) {
  body main .feedback_container .feedback_content .feedback_swiper .feedback_wrapper .feedback_box .user img {
    width: 20px;
    height: 20px;
  }
}
body main .feedback_container .feedback_content .feedback_swiper .feedback_wrapper .feedback_box .feedback_text p {
  font-size: 16px;
  color: #000000;
  opacity: 0.6;
}
@media only screen and (max-width: 700px) {
  body main .feedback_container .feedback_content .feedback_swiper .feedback_wrapper .feedback_box .feedback_text p {
    font-size: 14px;
  }
}
body main .countdown_container {
  max-width: 1440px;
  margin: 0 auto;
}
body main .countdown_container:target {
  scroll-margin-top: 50vh;
}
body main .countdown_container .countdown_content {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  margin-top: 120px;
}
@media only screen and (max-width: 700px) {
  body main .countdown_container .countdown_content {
    margin-top: 80px;
  }
}
body main .countdown_container .countdown_content .title h2 {
  font-size: 48px;
  font-weight: bold;
}
@media only screen and (max-width: 700px) {
  body main .countdown_container .countdown_content .title h2 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 500px) {
  body main .countdown_container .countdown_content .title h2 {
    font-size: 35px;
  }
}
body main .countdown_container .countdown_content .countdown_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}
body main .countdown_container .countdown_content .countdown_row .countdown_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #101010;
  width: 23%;
  border-radius: 22px;
  height: 200px;
  margin-top: 20px;
}
@media only screen and (max-width: 850px) {
  body main .countdown_container .countdown_content .countdown_row .countdown_box {
    height: 160px;
  }
}
@media only screen and (max-width: 700px) {
  body main .countdown_container .countdown_content .countdown_row .countdown_box {
    width: 48%;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 500px) {
  body main .countdown_container .countdown_content .countdown_row .countdown_box {
    width: 100%;
    margin-top: 0 px;
  }
}
body main .countdown_container .countdown_content .countdown_row .countdown_box span {
  font-size: 64px;
  color: #ffffff;
  font-weight: bold;
}
@media only screen and (max-width: 850px) {
  body main .countdown_container .countdown_content .countdown_row .countdown_box span {
    font-size: 55px;
  }
}
body main .countdown_container .countdown_content .countdown_row .countdown_box p {
  font-size: 16px;
  color: #ffffff;
  padding-top: 5px;
}
@media only screen and (max-width: 850px) {
  body main .countdown_container .countdown_content .countdown_row .countdown_box p {
    font-size: 15px;
  }
}

body footer {
  background-color: #101010;
  margin-top: 50px;
}
body footer .footer_content {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 70px 0px 40px 0px;
  flex-direction: column;
  position: relative;
}
@media only screen and (max-width: 1100px) {
  body footer .footer_content {
    padding: 70px 40px 40px;
  }
}
@media only screen and (max-width: 500px) {
  body footer .footer_content {
    padding: 70px 20px 40px;
  }
}
body footer .footer_content .overline {
  position: absolute;
  width: 100px;
  height: 4px;
  background-color: #d87d4a;
  top: 0;
}
@media only screen and (max-width: 500px) {
  body footer .footer_content .overline {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
body footer .footer_content .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 900px) {
  body footer .footer_content .navigation {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 600px) {
  body footer .footer_content .navigation {
    align-items: center;
  }
}
body footer .footer_content .navigation .logo img {
  width: 140px;
}
@media only screen and (max-width: 900px) {
  body footer .footer_content .navigation nav {
    margin-top: 32px;
  }
}
body footer .footer_content .navigation nav ul {
  display: flex;
  align-items: center;
}
body footer .footer_content .navigation nav ul *:not(:last-child) {
  margin-right: 34px;
}
@media only screen and (max-width: 500px) {
  body footer .footer_content .navigation nav ul {
    flex-direction: column;
  }
  body footer .footer_content .navigation nav ul *:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 16px;
  }
}
body footer .footer_content .navigation nav ul li a {
  font-size: 13px;
  color: #ffffff;
  line-height: 25px;
  letter-spacing: 2px;
  transition: 250ms;
}
body footer .footer_content .navigation nav ul li a:hover {
  color: #d87d4a;
  transition: 250ms;
}
body footer .footer_content .website_description {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 35px;
}
body footer .footer_content .website_description .desc p {
  font-size: 15px;
  color: #ffffff;
  opacity: 0.5;
  line-height: 25px;
  max-width: 540px;
}
@media only screen and (max-width: 900px) {
  body footer .footer_content .website_description .desc p {
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}
@media only screen and (max-width: 500px) {
  body footer .footer_content .website_description .desc p {
    text-align: center;
  }
}
body footer .footer_content .website_description .social_media {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 900px) {
  body footer .footer_content .website_description .social_media {
    display: none;
  }
}
body footer .footer_content .website_description .social_media .box {
  cursor: pointer;
}
body footer .footer_content .website_description .social_media .box svg {
  width: 24px;
  height: 24px;
}
body footer .footer_content .website_description .social_media .box svg path {
  transition: 250ms;
}
body footer .footer_content .website_description .social_media .box:hover svg path {
  fill: #d87d4a;
  transition: 250ms;
}
body footer .footer_content .website_description .social_media .box:not(:last-child) {
  margin-right: 15px;
}
body footer .footer_content .copy_right {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 500px) {
  body footer .footer_content .copy_right {
    flex-direction: column;
  }
}
body footer .footer_content .copy_right .text p {
  font-size: 15px;
  color: #ffffff;
  opacity: 0.5;
}
body footer .footer_content .copy_right .social_media {
  display: none;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 900px) {
  body footer .footer_content .copy_right .social_media {
    display: flex;
  }
}
@media only screen and (max-width: 500px) {
  body footer .footer_content .copy_right .social_media {
    margin-top: 40px;
  }
}
body footer .footer_content .copy_right .social_media .box {
  cursor: pointer;
}
body footer .footer_content .copy_right .social_media .box svg {
  width: 24px;
  height: 24px;
}
body footer .footer_content .copy_right .social_media .box svg path {
  transition: 250ms;
}
body footer .footer_content .copy_right .social_media .box:hover svg path {
  fill: #d87d4a;
  transition: 250ms;
}
body footer .footer_content .copy_right .social_media .box:not(:last-child) {
  margin-right: 15px;
}

@media only screen and (max-width: 1100px) {
  body main section {
    padding: 0px 40px;
  }
}
@media only screen and (max-width: 500px) {
  body main section {
    padding: 0px 20px;
  }
}
body main .title_container {
  background-color: #0e0e0e;
}
body main .title_container .title_content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 95px 0px;
}
@media only screen and (max-width: 700px) {
  body main .title_container .title_content {
    padding: 80px 0px;
  }
}
@media only screen and (max-width: 500px) {
  body main .title_container .title_content {
    padding: 33px 0px;
  }
}
body main .title_container .title_content h2 {
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 1.4px;
}
@media only screen and (max-width: 500px) {
  body main .title_container .title_content h2 {
    font-size: 28px;
  }
}
body main .product_container {
  max-width: 1440px;
  margin: 150px auto;
}
@media only screen and (max-width: 700px) {
  body main .product_container {
    margin: 120px auto;
  }
}
@media only screen and (max-width: 500px) {
  body main .product_container {
    margin: 65px auto;
  }
}
body main .product_container .product_content {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
body main .product_container .product_content .product_list .product_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 700px) {
  body main .product_container .product_content .product_list .product_box {
    flex-direction: column;
    text-align: center;
  }
  body main .product_container .product_content .product_list .product_box:last-child {
    flex-direction: column !important;
  }
}
body main .product_container .product_content .product_list .product_box:not(:last-child) {
  margin-bottom: 150px;
}
body main .product_container .product_content .product_list .product_box:last-child {
  flex-direction: row-reverse;
}
body main .product_container .product_content .product_list .product_box .product_img {
  flex: 0.45;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 8px;
  padding: 50px 30px;
  width: 100%;
}
@media only screen and (max-width: 700px) {
  body main .product_container .product_content .product_list .product_box .product_img {
    flex: 1;
  }
}
body main .product_container .product_content .product_list .product_box .product_img img {
  width: 80%;
}
@media only screen and (max-width: 700px) {
  body main .product_container .product_content .product_list .product_box .product_img img {
    max-width: 220px;
    width: 100%;
  }
}
body main .product_container .product_content .product_list .product_box .product_text {
  flex: 0.4;
}
@media only screen and (max-width: 850px) {
  body main .product_container .product_content .product_list .product_box .product_text {
    flex: 0.5;
  }
}
@media only screen and (max-width: 700px) {
  body main .product_container .product_content .product_list .product_box .product_text {
    flex: 1;
    margin-top: 50px;
  }
}
body main .product_container .product_content .product_list .product_box .product_text .product_title {
  font-size: 40px;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
}
@media only screen and (max-width: 500px) {
  body main .product_container .product_content .product_list .product_box .product_text .product_title {
    font-size: 28px;
  }
}
body main .product_container .product_content .product_list .product_box .product_text .product_description {
  font-size: 15px;
  color: #000000;
  opacity: 0.5;
  line-height: 25px;
  margin: 33px 0px;
}
@media only screen and (max-width: 500px) {
  body main .product_container .product_content .product_list .product_box .product_text .product_description {
    margin: 22px 0px;
  }
}
body main .product_container .product_content .product_list .product_box .product_text .view_more {
  font-size: 13px;
  color: #ffffff;
  border: none;
  padding: 15px 34px;
  background-color: #d87d4a;
  transition: 250ms;
}
body main .product_container .product_content .product_list .product_box .product_text .view_more:hover {
  background-color: #fbaf85;
  transition: 250ms;
}
body main .product_container .product_content .pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
body main .product_container .product_content .pagination button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000000;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  transition: 300ms;
}
body main .product_container .product_content .pagination button:hover {
  border-color: #d87d4a;
  transition: 300ms;
}
body main .product_container .product_content .pagination button:hover svg path {
  fill: #d87d4a;
  transition: 300ms;
}
body main .product_container .product_content .pagination button:disabled {
  border-color: #f1f1f1;
}
body main .product_container .product_content .pagination button:disabled svg path {
  fill: #f1f1f1;
}
body main .product_container .product_content .pagination button svg {
  display: flex;
}
body main .product_container .product_content .pagination button svg path {
  transition: 300ms;
}
body main .product_container .product_content .pagination #prevButton {
  margin-right: 50px;
}

@media only screen and (max-width: 1100px) {
  body main section {
    padding: 0px 40px;
  }
}
@media only screen and (max-width: 500px) {
  body main section {
    padding: 0px 20px;
  }
}
body main .product_container {
  max-width: 1440px;
  margin: 80px auto;
}
@media only screen and (max-width: 850px) {
  body main .product_container {
    margin: 40px auto;
  }
}
@media only screen and (max-width: 500px) {
  body main .product_container {
    margin: 20px auto;
  }
}
body main .product_container .product_content {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
body main .product_container .product_content #goBack {
  font-size: 15px;
  color: #000000;
  opacity: 0.5;
  transition: 300ms;
}
body main .product_container .product_content #goBack:hover {
  color: #d87d4a;
  opacity: 1;
  transition: 300ms;
}
body main .product_container .product_content .product {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 850px) {
  body main .product_container .product_content .product {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 700px) {
  body main .product_container .product_content .product {
    flex-direction: column;
    text-align: left;
  }
}
body main .product_container .product_content .product .product_img {
  flex: 0.45;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 8px;
  padding: 50px 30px;
  width: 100%;
}
@media only screen and (max-width: 700px) {
  body main .product_container .product_content .product .product_img {
    flex: 1;
  }
}
body main .product_container .product_content .product .product_img img {
  width: 80%;
}
@media only screen and (max-width: 700px) {
  body main .product_container .product_content .product .product_img img {
    max-width: 220px;
    width: 100%;
  }
}
body main .product_container .product_content .product .product_text {
  flex: 0.4;
}
@media only screen and (max-width: 850px) {
  body main .product_container .product_content .product .product_text {
    flex: 0.5;
  }
}
@media only screen and (max-width: 700px) {
  body main .product_container .product_content .product .product_text {
    flex: 1;
    margin-top: 50px;
  }
}
body main .product_container .product_content .product .product_text .product_name,
body main .product_container .product_content .product .product_text .product_type {
  font-size: 40px;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
}
@media only screen and (max-width: 500px) {
  body main .product_container .product_content .product .product_text .product_name,
  body main .product_container .product_content .product .product_text .product_type {
    font-size: 28px;
  }
}
body main .product_container .product_content .product .product_text .product_description {
  font-size: 15px;
  color: #000000;
  opacity: 0.5;
  line-height: 25px;
  margin: 33px 0px;
}
@media only screen and (max-width: 500px) {
  body main .product_container .product_content .product .product_text .product_description {
    margin: 22px 0px;
  }
}
body main .product_container .product_content .product .product_text .product_price {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
}
body main .product_container .product_content .product .product_text .add_toCart {
  margin-top: 40px;
  display: flex;
  justify-content: auto;
  align-items: center;
}
body main .product_container .product_content .product .product_text .add_toCart .qty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  height: 50px;
  padding: 0px 20px;
}
body main .product_container .product_content .product .product_text .add_toCart .qty button {
  font-size: 14px;
  border: none;
  background-color: transparent;
  opacity: 0.3;
}
body main .product_container .product_content .product .product_text .add_toCart .qty span {
  font-size: 13px;
  padding: 0px 25px;
  font-weight: bold;
}
body main .product_container .product_content .product .product_text .add_toCart .qty input {
  background-color: transparent;
  outline: none;
  border: none;
  width: 40px;
  text-align: center;
}
body main .product_container .product_content .product .product_text .add_toCart .qty input::-webkit-inner-spin-button,
body main .product_container .product_content .product .product_text .add_toCart .qty input ::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body main .product_container .product_content .product .product_text .add_toCart #addToCart {
  height: 50px;
  margin-left: 16px;
  background-color: #d87d4a;
  border: none;
  padding: 0px 30px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Noto Sans Georgian", sans-serif;
}
body main .features_container {
  max-width: 1440px;
  margin: 150px auto;
}
@media only screen and (max-width: 850px) {
  body main .features_container {
    margin: 100px auto;
  }
}
@media only screen and (max-width: 500px) {
  body main .features_container {
    margin: 80px auto;
  }
}
body main .features_container .features_content {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
body main .features_container .features_content .title h2 {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1px;
}
@media only screen and (max-width: 500px) {
  body main .features_container .features_content .title h2 {
    font-size: 24px;
  }
}
body main .features_container .features_content .desc {
  margin-top: 30px;
}
body main .features_container .features_content .desc p {
  font-size: 15px;
  line-height: 25px;
  max-width: 630px;
}
body main .gallery_container {
  max-width: 1440px;
  margin: 150px auto;
}
@media only screen and (max-width: 850px) {
  body main .gallery_container {
    margin: 100px auto;
  }
}
@media only screen and (max-width: 500px) {
  body main .gallery_container {
    margin: 80px auto;
  }
}
body main .gallery_container .gallery_content {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
@media only screen and (max-width: 600px) {
  body main .gallery_container .gallery_content {
    flex-direction: column;
  }
}
body main .gallery_container .gallery_content .left {
  flex: 0.48;
  display: flex;
  justify-content: space-between;
  align-items: auto;
  flex-direction: column;
}
body main .gallery_container .gallery_content .left img {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}
body main .gallery_container .gallery_content .left img:not(:last-child) {
  margin-bottom: 20px;
}
body main .gallery_container .gallery_content .right {
  flex: 0.5;
}
@media only screen and (max-width: 600px) {
  body main .gallery_container .gallery_content .right {
    margin-top: 20px;
  }
}
body main .gallery_container .gallery_content .right img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

@media only screen and (max-width: 1100px) {
  body main section {
    padding: 0px 40px;
  }
}
@media only screen and (max-width: 500px) {
  body main section {
    padding: 0px 20px;
  }
}
body main .checkout_container {
  max-width: 1440px;
  margin: 60px auto;
}
body main .checkout_container .checkout_content {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
body main .checkout_container .checkout_content a {
  color: #000000;
  opacity: 0.5;
}
body main .checkout_container .checkout_content .checkout_row {
  display: flex;
  justify-content: space-between;
  align-items: auto;
  margin: 30px 0px;
}
body main .checkout_container .checkout_content .checkout_row .checkout {
  background-color: #ffffff;
  flex: 0.67;
  padding: 45px;
  border-radius: 8px;
}
body main .checkout_container .checkout_content .checkout_row .checkout h2 {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 1px;
}
body main .checkout_container .checkout_content .checkout_row .checkout .detail_container {
  margin-top: 40px;
}
body main .checkout_container .checkout_content .checkout_row .checkout .detail_container .detail_cont_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main .checkout_container .checkout_content .checkout_row .checkout .detail_container .detail_cont_title span {
  font-size: 13px;
  border-bottom: 1px solid #000000;
  padding-bottom: 5px;
}
body main .checkout_container .checkout_content .checkout_row .checkout .detail_container h3 {
  font-size: 13px;
  color: #d87d4a;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 1px;
}
body main .checkout_container .checkout_content .checkout_row .checkout .detail_container .input_cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
body main .checkout_container .checkout_content .checkout_row .checkout .detail_container .input_cont label {
  width: 49%;
}
body main .checkout_container .checkout_content .checkout_row .checkout .detail_container .input_cont label span {
  display: block;
  font-size: 12px;
  font-weight: 500;
}
body main .checkout_container .checkout_content .checkout_row .checkout .detail_container .input_cont label input {
  width: 100%;
  margin-top: 8px;
  background-color: transparent;
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  height: 50px;
  padding: 0px 24px;
}
body main .checkout_container .checkout_content .checkout_row .checkout .detail_container .input_cont .phone_label {
  margin-top: 24px;
}
body main .checkout_container .checkout_content .checkout_row .checkout .detail_container .input_cont .address_label {
  width: 100%;
  margin-bottom: 24px;
}
body main .checkout_container .checkout_content .checkout_row .checkout .detail_container .input_cont .country_label {
  margin-top: 24px;
}
body main .checkout_container .checkout_content .checkout_row .checkout .detail_container .card {
  margin: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .checkout_container .checkout_content .checkout_row .checkout .detail_container .card img {
  max-width: 330px;
}
body main .checkout_container .checkout_content .checkout_row .checkout .detail_container .card_details {
  width: 80%;
  margin: 0 auto;
}
body main .checkout_container .checkout_content .checkout_row .checkout .detail_container .card_details label span {
  display: block;
  font-size: 12px;
  font-weight: 500;
}
body main .checkout_container .checkout_content .checkout_row .checkout .detail_container .card_details label input {
  width: 100%;
  margin-top: 8px;
  background-color: transparent;
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  height: 50px;
  padding: 0px 24px;
}
body main .checkout_container .checkout_content .checkout_row .checkout .detail_container .card_details .card_det2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main .checkout_container .checkout_content .checkout_row .checkout .detail_container .card_details .card_det2 label {
  width: 49%;
}
body main .checkout_container .checkout_content .checkout_row .summary {
  background-color: #ffffff;
  flex: 0.3;
  height: -moz-fit-content;
  height: fit-content;
  padding: 45px;
  border-radius: 8px;
}
body main .checkout_container .checkout_content .checkout_row .summary h2 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}
body main .checkout_container .checkout_content .checkout_row .summary .summary_list {
  margin: 30px 0px;
}
body main .checkout_container .checkout_content .checkout_row .summary .summary_list .cart_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main .checkout_container .checkout_content .checkout_row .summary .summary_list .cart_item:not(:last-child) {
  margin-bottom: 22px;
}
body main .checkout_container .checkout_content .checkout_row .summary .summary_list .cart_item .product {
  display: flex;
  justify-content: auto;
  align-items: center;
}
body main .checkout_container .checkout_content .checkout_row .summary .summary_list .cart_item .product .product_img {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 8px;
}
body main .checkout_container .checkout_content .checkout_row .summary .summary_list .cart_item .product .product_img img {
  width: 42px;
  height: 42px;
  -o-object-fit: contain;
     object-fit: contain;
}
body main .checkout_container .checkout_content .checkout_row .summary .summary_list .cart_item .product .product_details {
  display: flex;
  justify-content: auto;
  align-items: auto;
  flex-direction: column;
  margin-left: 16px;
}
body main .checkout_container .checkout_content .checkout_row .summary .summary_list .cart_item .product .product_details span {
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
}
body main .checkout_container .checkout_content .checkout_row .summary .summary_list .cart_item .product .product_details p {
  font-size: 14px;
  opacity: 0.5;
  line-height: 25px;
}
body main .checkout_container .checkout_content .checkout_row .summary .summary_list .cart_item .product_nav {
  display: flex;
  justify-content: auto;
  align-items: center;
}
body main .checkout_container .checkout_content .checkout_row .summary .summary_list .cart_item .product_nav span {
  font-size: 13px;
  font-weight: 600;
  opacity: 0.5;
}
body main .checkout_container .checkout_content .checkout_row .summary .summary_list .cart_item .product_nav button {
  margin-left: 10px;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 600;
  padding: 8px 4px;
  background-color: #f1f1f1;
  border: none;
  transition: 250ms;
}
body main .checkout_container .checkout_content .checkout_row .summary .summary_list .cart_item .product_nav button:hover {
  color: #d87d4a;
  transition: 250ms;
}
body main .checkout_container .checkout_content .checkout_row .summary .total,
body main .checkout_container .checkout_content .checkout_row .summary .shipping {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
body main .checkout_container .checkout_content .checkout_row .summary .total p,
body main .checkout_container .checkout_content .checkout_row .summary .shipping p {
  font-size: 15px;
  line-height: 25px;
  opacity: 0.5;
}
body main .checkout_container .checkout_content .checkout_row .summary .total span,
body main .checkout_container .checkout_content .checkout_row .summary .shipping span {
  font-size: 18px;
  font-weight: 500;
}
body main .checkout_container .checkout_content .checkout_row .summary .grand_total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 55px;
}
body main .checkout_container .checkout_content .checkout_row .summary .grand_total p {
  font-size: 15px;
  line-height: 25px;
  opacity: 0.5;
}
body main .checkout_container .checkout_content .checkout_row .summary .grand_total span {
  font-size: 18px;
  font-weight: 500;
  color: #d87d4a;
}
body main .checkout_container .checkout_content .checkout_row .summary #finishCheckout {
  margin-top: 45px;
  width: 100%;
  background-color: #d87d4a;
  color: #ffffff;
  border: none;
  text-align: center;
  padding: 15px 0px;
  font-size: 13px;
  font-weight: 500;
}

.gray {
  background-color: #f1f1f1 !important;
}/*# sourceMappingURL=global.css.map */